// Color Scheme

// 1st group
$white: #fff;
$platinum: #e6e7e7;
$lightGray: #d1d1d1;

// 2nd group
$fuzzyWuzzy: #e56353;
$ruddyPink: #d76c69;
$spanishPink: #ecbcba;

// 3th group
$eerieBlack: #121619;
$raisinBlack: #222323;
$nickel: #6c6e70;

// Links Color Scheme
$primaryScheme: $ruddyPink;
$secondaryScheme: $raisinBlack;
$lightScheme: $lightGray;
$darkScheme: $eerieBlack;
