/* small button - boostrap */
.smallButton {
  font-family: $roboto;
  font-size: $medium;
  text-align: center;
  background-color: $eerieBlack !important;
  opacity: 0.62;
  border: none !important;
  border-radius: 3.125rem;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $lightGray !important;
  }

  &:focus {
    background-color: $eerieBlack !important;
    box-shadow: none !important;
    box-shadow: 0 0 0 0.2rem rgba(209, 209, 209, 1) !important;
  }
}
